.buttonWrapper{
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.darkGreyButton {
  background-color: #353235;
  margin-right: 5px;
  margin-bottom: 5px;
}

.greyButton {
  background-color: #A5A5A5;
  margin-right: 5px;
  margin-bottom: 5px;
}

.orangeButton {
  background-color: #EE933C;
  margin-bottom: 5px;
}

.zeroButton {
  display: inline-flex;
  justify-content: left;
  padding-left: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 125px;
  border-radius: 30px;
}

.homeButton {
  color: #AFAFAF;
  display: block;
  width: 110px;
  border-bottom: 5px solid white;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 35px;
}